<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breez.web.mapper.DepartmentMapper">
	<select id="selectPage" resultType="Department">
		SELECT
			`id`,
			`name`,
			`create_time`,
			`update_time`
		FROM
			department
		WHERE
			1 = 1
			<if test="d.name != null and d.name != ''">
				AND `name` LIKE CONCAT( '%', #{d.name}, '%' )
			</if>
	</select>


</mapper>