<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breez.web.mapper.QuestionTypeMapper">
	<select id="selectPage" resultType="QuestionType">
		SELECT
			`id`,
			`name`,
			`create_time`,
			`update_time`
		FROM
			question_type
		WHERE
			1 = 1
			<if test="qt.name != null and qt.name != ''">
				AND `name` LIKE CONCAT( '%', #{qt.name}, '%' )
			</if>
	</select>


</mapper>